html{
	height: 100%;
}

body{
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100%;
}

header{
	background-color: $yellow;
	color: #fff;
	padding: 13px;
	line-height: 40px;
	overflow: hidden;
	text-align: right;
	height: 80vh;
	word-spacing: 100vw;
	text-align: left;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	@media screen and (max-width: 767px){
		height: 70vh;
	}

	h1{
		padding: 0 0 5vh 30vw;
		font-size: 10vmin;
		line-height: 12vmin;
		color: $brown;
		margin-top: -5vh;

		@media screen and (max-width: 767px){
			margin-top: 0;
		}

		img{
			float: left;
			padding-right: 13px;
			padding-bottom: 0;
			height: 40px;
		}

		&:before{
			position: absolute;
			width: 10vw;
			left: -48vw;
			top: -100vh;
			bottom: -100vh;
			z-index: 25;
			box-shadow: 0 0 0 0 transparent,
				0vw 0 0 0 $brown,
				9.9vw 0 0 0 $brown,
				18.8vw 0 0 0 $brown,
				27.7vw 0 0 0 $brown,
				36.6vw 0 0 0 $brown,
				45.5vw 0 0 0 $brown,
				54.4vw 0 0 0 $red,
				63.3vw 0 0 0 $orange;
			content: '';
		}
	}

	a:link{
		color: $brown;
		text-decoration: none;
	}

	a:visited{
		color: $brown;
	}

	a:hover,
	a:focus{
		color: $orange;
	}

	a:active{
		color: $primary;
	}
}

.slant{
	transform: rotate(-30deg);
}
.end-slant{
	background: $primary;
	width: 600vw;
	height: 600vh;
	position: absolute;
	left: -300vw;
	z-index: 50;
	font-size: 25vmin;
	color: $yellow;
	text-align: center;
	padding-top: 2vh;
	padding-left: 60vmax;

	@media screen and (max-width: 767px){
		padding-left: 20vmax;
	}
}

.site-sub-nav{
	background-color: $gray6;
	border-bottom: 1px solid $gray5;
	padding: 8px 13px;

	a{
		display: inline-block;
		padding: 0 8px;
	}
}

.hero{
  height: 300px;
  background: url('/img/branding/self.jpg') no-repeat 5% bottom;
  position: relative;
  z-index: 1;
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,.25) inset;

  @media screen and (max-width: 767px){
  	background: url('/img/branding/shirt.jpg') no-repeat center bottom;

  	.cell{
  		text-align: center !important;
  	}
  }

	@media screen and (max-width: 767px){
	  &:after{
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 1;
	    background-color: rgba(255,255,255,.75);
	    content: '';
	  }
	}

  *{
    position: relative;
    z-index: 2;
    color: $gray1;
  }

  p{
    font-size: 1.8rem;
  }
}

.wrapper{
	padding: 34px 21px;

	@media screen and (min-width: 768px){
		padding: 55px 34px;
	}
}

.page{
	max-width: 960px;
	margin: 0 auto;
}

.readme{
	margin-bottom: 30px;
}

.button-container{
	.cell{
    padding: 0 10px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px){
      padding: 0 20px 20px;
    }
  }
  .button{
	  display: block;
	  padding: 13px;
	}
}

.button{
  display: inline-block;
  padding: 13px 34px;
  background-color: $secondary;
  font-size: 1.4rem;
	margin-bottom: 10px;

  &:link, &:visited, &:hover, &:focus{
  	text-decoration: none;
    color: #fff;
  }

  &:hover{
    background-color: darken($secondary, 2%);
  }
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
