$primary: #00A0B0;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 10%);

$secondary: #EB6841;

$brown: #6A4A3C;
$orange: #EB6841;

$red: #CC333F;
$green: green;
$yellow: #EDC951;
$purple: purple;

$white: #fff;

// dark shades
$gray1: #3c3c3d;
$gray2: #5a5a5b;
$gray3: #7d7d7e;


// light shades
$gray4: #cdcdce;
$gray5: #dededf;
$gray6: #efeff0;

$font-size: 15px;
$line-height: 21px;

$heading: "PT Sans", Futura, "Trebuchet MS", Arial, sans-serif;
$body: "Source Sans Pro", Verdana, Geneva, sans-serif;
$monospace: "PT Mono", monospace;
